# EDA

In [1]:
import pandas as pd

df = pd.read_csv("../data/taxi_trip_pricing.csv")

In [5]:
df

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
...,...,...,...,...,...,...,...,...,...,...,...
995,5.49,Afternoon,Weekend,4.0,Medium,Clear,2.39,0.62,0.49,58.39,34.4049
996,45.95,Night,Weekday,4.0,Medium,Clear,3.12,0.61,NaN,61.96,62.1295
997,7.70,Morning,Weekday,3.0,Low,Rain,2.08,1.78,NaN,54.18,33.1236
998,47.56,Morning,Weekday,1.0,Low,Clear,2.67,0.82,0.17,114.94,61.2090
999,22.85,Morning,Weekend,3.0,Medium,Clear,4.34,NaN,0.23,29.69,45.4437

base_fare = grundpris

In [4]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [9]:
df.describe().T.drop(columns="count")

,mean,std,min,25%,50%,75%,max
Trip_Distance_km,27.070547,19.905300,1.2300,12.63250,25.8300,38.40500,146.067047
Passenger_Count,2.476842,1.102249,1.0000,1.25000,2.0000,3.00000,4.000000
Base_Fare,3.502989,0.870162,2.0100,2.73000,3.5200,4.26000,5.000000
Per_Km_Rate,1.233316,0.429816,0.5000,0.86000,1.2200,1.61000,2.000000
Per_Minute_Rate,0.292916,0.115592,0.1000,0.19000,0.2900,0.39000,0.500000
Trip_Duration_Minutes,62.118116,32.154406,5.0100,35.88250,61.8600,89.05500,119.840000
Trip_Price,56.874773,40.469791,6.1269,33.74265,50.0745,69.09935,332.043689

Som label så kommer jag att använda 'Trip_Price'

Kolumner som känns rimliga för features är:
- Time_of_Day
- Day_of_Week
- Passenger_Count
- Traffic_Conditions

dem andra kolumnerna kommer man inte veta om för ens taxi resan är över.
Det kan bli 'target leakage' om dessa är med:
- Trip_Distance_km - kan vara känd i förväg men tas bort för att förenkla användarinput
- Trip_Duration_Minutes - inte tillgängligt innan resan, så det blir olämpligt som input-feature

Dessa läcker prislogiken och riskerar 'target leakage':
- Base_Fare - 
- Per_Km_Rate - 
- Per_Minute_Rate -

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [22]:
df[df["Trip_Distance_km"].isna()].head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
10,NaN,Morning,Weekday,4.0,NaN,Clear,2.40,0.58,0.43,26.34,14.8920
84,NaN,Night,Weekday,1.0,Medium,Clear,3.38,1.50,0.31,58.31,45.8161
87,NaN,NaN,Weekday,1.0,Medium,Clear,3.41,0.57,0.39,92.72,57.9476
95,NaN,Morning,Weekend,1.0,Medium,Clear,3.43,0.91,0.50,67.43,60.0770

In [23]:
df[df["Trip_Price"].isna()]

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
8,30.45,Morning,Weekday,3.0,High,Clear,2.77,1.78,0.34,110.33,NaN
11,48.53,Night,Weekday,3.0,Low,Clear,4.78,NaN,0.50,79.94,NaN
32,4.19,Morning,Weekday,1.0,Low,Clear,4.07,1.89,0.19,69.06,NaN
94,38.78,Morning,Weekday,3.0,Medium,Clear,3.08,1.62,0.15,90.14,NaN
109,4.77,Morning,Weekend,2.0,High,Clear,NaN,0.96,0.18,105.91,NaN
122,16.58,Evening,NaN,2.0,Low,Clear,4.46,1.23,0.16,62.79,NaN
167,10.14,Afternoon,Weekday,4.0,Low,Rain,4.50,1.62,0.38,25.41,NaN
177,19.95,Morning,Weekday,3.0,Low,NaN,2.50,0.88,0.49,NaN,NaN
178,46.90,Evening,Weekday,1.0,High,Clear,4.14,1.33,0.13,66.38,NaN
207,33.51,Afternoon,Weekend,3.0,Low,Clear,2.31,1.32,0.40,62.87,NaN
212,32.95,Morning,Weekday,1.0,Medium,Clear,3.36,1.56,0.19,81.37,NaN
214,35.90,NaN,Weekend,2.0,High,Clear,4.03,1.79,0.13,107.25,NaN
228,44.71,Night,Weekday,1.0,Low,Rain,2.50,1.94,0.47,45.94,NaN
261,49.51,Evening,Weekday,3.0,Medium,Snow,4.81,0.74,0.14,82.21,NaN
262,7.86,Afternoon,NaN,3.0,Medium,Rain,4.82,0.75,0.26,NaN,NaN
263,26.40,Afternoon,Weekday,4.0,Low,Clear,2.52,NaN,0.39,108.34,NaN
264,43.99,Morning,Weekday,3.0,Medium,Clear,4.62,1.69,0.36,23.91,NaN
274,26.06,Afternoon,Weekend,4.0,Medium,Clear,2.08,1.14,0.23,113.99,NaN
275,25.57,Morning,Weekday,3.0,High,Rain,3.13,0.93,0.11,19.53,NaN
285,2.76,Afternoon,Weekday,3.0,Low,Clear,4.73,1.81,0.30,59.25,NaN
328,21.56,Afternoon,Weekday,1.0,High,Clear,NaN,1.51,0.32,50.02,NaN
397,22.02,Morning,Weekday,1.0,High,Clear,NaN,0.51,0.30,71.54,NaN
407,1.53,Evening,Weekday,1.0,Low,Clear,4.33,1.70,0.42,77.30,NaN
426,22.63,Morning,Weekday,2.0,Medium,Clear,4.33,NaN,0.44,73.27,NaN
449,5.09,Afternoon,Weekday,4.0,Low,NaN,4.48,0.53,0.21,71.35,NaN
579,13.65,Afternoon,Weekday,2.0,Low,Clear,3.07,1.61,0.29,NaN,NaN
624,31.29,Morning,Weekday,3.0,Medium,Rain,4.41,NaN,0.21,50.19,NaN
631,44.87,Afternoon,NaN,4.0,Low,Clear,4.27,NaN,0.34,90.81,NaN
632,26.07,Afternoon,Weekday,1.0,Medium,Clear,3.62,1.51,0.49,64.89,NaN
640,1.98,Afternoon,Weekday,3.0,Low,Clear,3.40,1.92,0.15,51.56,NaN
643,17.05,Afternoon,Weekday,4.0,High,Rain,4.63,0.90,0.25,63.82,NaN
658,32.65,Afternoon,Weekday,1.0,High,Clear,2.41,0.97,0.26,80.84,NaN
668,10.14,Morning,Weekend,4.0,Low,Clear,2.17,0.89,0.27,36.16,NaN
676,6.49,Morning,Weekday,3.0,Medium,NaN,3.68,NaN,0.19,31.66,NaN
729,9.02,Afternoon,Weekday,3.0,Low,Clear,3.17,1.14,0.31,89.73,NaN
738,22.52,Afternoon,Weekend,2.0,Medium,Clear,4.60,1.49,0.35,62.07,NaN
753,17.41,Morning,Weekday,NaN,Medium,Clear,2.05,1.86,NaN,39.98,NaN
760,8.43,Afternoon,Weekday,4.0,Low,Clear,2.36,0.88,0.13,57.18,NaN
788,23.64,Morning,Weekend,1.0,Low,Clear,4.90,1.92,0.13,51.47,NaN
838,29.45,Night,Weekend,NaN,Low,Rain,3.38,1.48,0.29,40.72,NaN
871,14.27,Morning,Weekend,1.0,Low,Clear,NaN,1.45,0.27,27.05,NaN
889,12.92,Night,Weekend,2.0,Low,Rain,3.69,1.14,0.14,NaN,NaN
892,41.68,Evening,NaN,1.0,Medium,Rain,4.25,1.72,0.48,32.07,NaN
910,29.92,Afternoon,Weekday,1.0,Low,Clear,2.14,1.14,0.28,23.10,NaN
920,43.55,Afternoon,Weekday,2.0,Low,NaN,4.97,0.79,0.33,111.30,NaN
937,45.80,Evening,Weekday,2.0,Medium,Rain,NaN,0.84,0.11,31.43,NaN
976,30.16,Morning,Weekend,4.0,Medium,Clear,3.55,1.50,0.13,117.57,NaN
991,35.04,Morning,Weekend,4.0,Medium,Rain,2.90,1.10,0.15,9.99,NaN