# EDA

In [1]:
import pandas as pd

df = pd.read_csv("../data/taxi_trip_pricing.csv")

In [5]:
df

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
...,...,...,...,...,...,...,...,...,...,...,...
995,5.49,Afternoon,Weekend,4.0,Medium,Clear,2.39,0.62,0.49,58.39,34.4049
996,45.95,Night,Weekday,4.0,Medium,Clear,3.12,0.61,NaN,61.96,62.1295
997,7.70,Morning,Weekday,3.0,Low,Rain,2.08,1.78,NaN,54.18,33.1236
998,47.56,Morning,Weekday,1.0,Low,Clear,2.67,0.82,0.17,114.94,61.2090
999,22.85,Morning,Weekend,3.0,Medium,Clear,4.34,NaN,0.23,29.69,45.4437

base_fare = grundpris

In [4]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [9]:
df.describe().T.drop(columns="count")

,mean,std,min,25%,50%,75%,max
Trip_Distance_km,27.070547,19.905300,1.2300,12.63250,25.8300,38.40500,146.067047
Passenger_Count,2.476842,1.102249,1.0000,1.25000,2.0000,3.00000,4.000000
Base_Fare,3.502989,0.870162,2.0100,2.73000,3.5200,4.26000,5.000000
Per_Km_Rate,1.233316,0.429816,0.5000,0.86000,1.2200,1.61000,2.000000
Per_Minute_Rate,0.292916,0.115592,0.1000,0.19000,0.2900,0.39000,0.500000
Trip_Duration_Minutes,62.118116,32.154406,5.0100,35.88250,61.8600,89.05500,119.840000
Trip_Price,56.874773,40.469791,6.1269,33.74265,50.0745,69.09935,332.043689

Som label så kommer jag att använda 'Trip_Price'

Kolumner som känns rimliga för features är:
- Time_of_Day
- Day_of_Week
- Passenger_Count
- Traffic_Conditions
- Trip_Distance_km

dem andra kolumnerna kommer man inte veta om för ens taxi resan är över.
Det kan bli 'target leakage' om dessa är med:
- Trip_Duration_Minutes - inte tillgängligt innan resan, så det blir olämpligt som input-feature

Dessa läcker prislogiken och riskerar 'target leakage':
- Base_Fare
- Per_Km_Rate
- Per_Minute_Rate

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

# Trip_Price (label)
- 49 nulls
- finns inga extrema outliers

In [35]:
df["Trip_Price"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Trip_Price
Non-Null Count  Dtype
--------------  -----
951 non-null    float64
dtypes: float64(1)
memory usage: 7.9 KB

In [26]:
df["Trip_Price"].isna().sum()

np.int64(49)

In [34]:
df["Trip_Price"].sort_values().unique()

array([  6.1269    ,   6.4729    ,   8.6709    ,   8.7296    ,
         8.9203    ,   9.8005    ,   9.8718    ,   9.9494    ,
        10.2366    ,  10.4444    ,  11.2613    ,  11.2645    ,
        11.3358    ,  11.5061    ,  11.597     ,  12.1141    ,
        12.2396    ,  12.5567    ,  12.6264    ,  12.7333    ,
        12.9998    ,  13.0646    ,  13.3746    ,  13.4484    ,
        13.9136    ,  13.9334    ,  13.9727    ,  14.6127    ,
        14.6611    ,  14.8186    ,  14.892     ,  14.935     ,
        15.0994    ,  15.1029    ,  15.5675    ,  15.618     ,
        16.1211    ,  16.1592    ,  16.5256    ,  16.6464    ,
        16.834     ,  16.9168    ,  16.9284    ,  17.1476    ,
        17.1693    ,  17.6621    ,  17.9592    ,  18.7636    ,
        18.8626    ,  19.0904    ,  19.1069    ,  19.145     ,
        19.1962    ,  19.2572    ,  19.2643    ,  19.2698    ,
        19.3694    ,  19.4986    ,  19.5819    ,  19.6645    ,
        19.7235    ,  19.8829    ,  19.9412    ,  19.9427    ,
        19.973     ,  19.9744    ,  20.0083    ,  20.0527    ,
        20.1596    ,  20.2164    ,  20.2324    ,  20.2751    ,
        20.3458    ,  20.3509    ,  20.3819    ,  20.7765    ,
        20.791     ,  20.9951    ,  21.4931    ,  21.6555    ,
        21.7323    ,  22.0141    ,  22.1172    ,  22.1476    ,
        22.2951    ,  22.3206    ,  22.4347    ,  22.4883    ,
        22.5446    ,  22.5469    ,  22.7182    ,  22.7573    ,
        22.8002    ,  22.8766    ,  23.0728    ,  23.105     ,
        23.1248    ,  23.1614    ,  23.279     ,  23.3132    ,
        23.3579    ,  23.4957    ,  23.5462    ,  23.6949    ,
        23.7068    ,  23.9563    ,  23.9803    ,  24.0367    ,
        24.2608    ,  24.4491    ,  24.4754    ,  24.4816    ,
        24.6913    ,  24.6973    ,  25.095     ,  25.1652    ,
        25.1968    ,  25.3115    ,  25.3938    ,  25.4386    ,
        25.4565    ,  25.4826    ,  25.5304    ,  25.6218    ,
        25.662     ,  25.7527    ,  25.8142    ,  25.8856    ,
        25.9025    ,  26.076     ,  26.1117    ,  26.1176    ,
        26.1975    ,  26.263     ,  26.2692    ,  26.2988    ,
        26.4327    ,  26.6477    ,  26.9202    ,  26.9585    ,
        26.9741    ,  27.1606    ,  27.174     ,  27.3543    ,
        27.4415    ,  27.4942    ,  27.6353    ,  27.865     ,
        27.8795    ,  27.9315    ,  28.0701    ,  28.1281    ,
        28.1643    ,  28.2443    ,  28.4048    ,  28.5862    ,
        28.5966    ,  28.6304    ,  28.7235    ,  28.7693    ,
        28.7716    ,  28.9914    ,  29.0553    ,  29.0627    ,
        29.0925    ,  29.0991    ,  29.2693    ,  29.2945    ,
        29.3753    ,  29.4228    ,  29.4658    ,  29.4758    ,
        29.532     ,  29.5584    ,  29.5606    ,  29.645     ,
        29.7551    ,  29.778     ,  29.8609    ,  29.9606    ,
        29.9658    ,  29.9765    ,  29.9812    ,  30.0888    ,
        30.318     ,  30.371     ,  30.4015    ,  30.446     ,
        30.5768    ,  30.5797    ,  30.698     ,  30.7837    ,
        30.942     ,  30.9982    ,  31.0915    ,  31.2318    ,
        31.306     ,  31.341     ,  31.3844    ,  31.3891    ,
        31.4168    ,  31.4354    ,  31.609     ,  31.6941    ,
        31.7102    ,  31.7717    ,  31.8132    ,  31.8296    ,
        31.99      ,  32.0088    ,  32.1352    ,  32.1514    ,
        32.155     ,  32.1634    ,  32.2063    ,  32.2544    ,
        32.2622    ,  32.342     ,  32.415     ,  32.4282    ,
        32.5735    ,  32.7178    ,  32.7396    ,  32.9075    ,
        32.9855    ,  33.0286    ,  33.1236    ,  33.1785    ,
        33.183     ,  33.2317    ,  33.2741    ,  33.344     ,
        33.3599    ,  33.4215    ,  33.4311    ,  33.5331    ,
        33.632     ,  33.7362    ,  33.7491    ,  33.8442    ,
        34.2597    ,  34.2628    ,  34.3067    ,  34.3543    ,
        34.3764    ,  34.4049    ,  34.4316    ,  34.4608    ,
        34.5311    ,  34.5781    ,  34.5791    ,  34.726     ,
        34.952     ,  35.0028    ,  35.0164    ,  35.0564    ,
        35.0854    ,  35.284     ,  35.3572    ,  35.3812    ,
        35.4031    ,  35.4798    ,  35.6928    ,  35.8539    ,
        35.964     ,  36.0271    ,  36.0458    ,  36.0978    ,
        36.118     ,  36.1464    ,  36.2571    ,  36.2624    ,
        36.4212    ,  36.4388    ,  36.4698    ,  36.4958    ,
        36.5375    ,  36.6701    ,  36.7152    ,  36.9301    ,
        37.0004    ,  37.086     ,  37.1212    ,  37.1504    ,
        37.17      ,  37.2489    ,  37.3559    ,  37.39      ,
        37.4586    ,  37.7718    ,  38.035     ,  38.0619    ,
        38.0988    ,  38.1392    ,  38.2552    ,  38.3486    ,
        38.3875    ,  38.4475    ,  38.4514    ,  38.6058    ,
        38.6747    ,  38.769     ,  38.8144    ,  38.8456    ,
        38.9591    ,  38.9635    ,  38.9965    ,  39.066     ,
        39.1789    ,  39.1976    ,  39.2366    ,  39.275     ,
        39.4174    ,  39.4624    ,  39.4645    ,  39.4771    ,
        39.538     ,  39.5698    ,  39.9065    ,  39.9195    ,
        40.0207    ,  40.163     ,  40.174     ,  40.2186    ,
        40.2564    ,  40.2799    ,  40.3595    ,  40.4165    ,
        40.5665    ,  40.65      ,  40.8036    ,  40.8394    ,
        40.8518    ,  40.9225    ,  40.9716    ,  40.9764    ,
        41.0143    ,  41.0174    ,  41.2036    ,  41.2217    ,
        41.3072    ,  41.3681    ,  41.4292    ,  41.4372    ,
        41.5138    ,  41.544     ,  41.6562    ,  41.6946    ,
        41.699     ,  41.7194    ,  41.8347    ,  41.9343    ,
        41.9406    ,  42.0962    ,  42.1098    ,  42.398     ,
        42.4232    ,  42.6209    ,  42.8661    ,  42.9921    ,
        42.9949    ,  43.0058    ,  43.0228    ,  43.0697    ,
        43.1998    ,  43.224     ,  43.3123    ,  43.6034    ,
        43.8236    ,  43.8543    ,  43.8544    ,  43.8625    ,
        43.8894    ,  43.9748    ,  43.9909    ,  44.101     ,
        44.1197    ,  44.1375    ,  44.2055    ,  44.4294    ,
        44.507     ,  44.5307    ,  44.5344    ,  44.6007    ,
        44.6222    ,  44.6322    ,  44.6954    ,  44.7092    ,
        44.733     ,  44.7548    ,  44.7782    ,  44.7904    ,
        44.844     ,  44.8859    ,  44.9557    ,  45.0304    ,
        45.1203    ,  45.1726    ,  45.2346    ,  45.2531    ,
        45.2855    ,  45.2879    ,  45.3123    ,  45.385     ,
        45.4312    ,  45.4437    ,  45.5132    ,  45.5308    ,
        45.5584    ,  45.6194    ,  45.6902    ,  45.7545    ,
        45.782     ,  45.8161    ,  45.8598    ,  45.8975    ,
        45.9215    ,  45.9582    ,  46.0189    ,  46.1432    ,
        46.1526    ,  46.1779    ,  46.2078    ,  46.274     ,
        46.2939    ,  46.3014    ,  46.316     ,  46.4367    ,
        46.4647    ,  46.4968    ,  46.5931    ,  46.6132    ,
        46.6175    ,  46.6313    ,  46.639     ,  46.7471    ,
        46.8086    ,  46.9056    ,  46.9988    ,  47.177     ,
        47.3148    ,  47.3268    ,  47.33      ,  47.375     ,
        47.4882    ,  47.6252    ,  47.8069    ,  47.8469    ,
        47.996     ,  48.0066    ,  48.0134    ,  48.024     ,
        48.027     ,  48.1175    ,  48.1275    ,  48.1365    ,
        48.2267    ,  48.2843    ,  48.3843    ,  48.4081    ,
        48.4142    ,  48.4454    ,  48.4496    ,  48.7802    ,
        48.8108    ,  48.835     ,  49.1156    ,  49.1871    ,
        49.3168    ,  49.36      ,  49.4676    ,  49.5082    ,
        49.7657    ,  49.7873    ,  49.852     ,  50.0745    ,
        50.1179    ,  50.2412    ,  50.5038    ,  50.696     ,
        50.7312    ,  50.789     ,  50.8979    ,  50.9961    ,
        51.0291    ,  51.03      ,  51.031     ,  51.0588    ,
        51.1318    ,  51.2721    ,  51.2833    ,  51.3965    ,
        51.4584    ,  51.6226    ,  51.6275    ,  51.8548    ,
        51.9016    ,  52.0972    ,  52.2336    ,  52.5934    ,
        52.6406    ,  52.6453    ,  52.678     ,  52.7796    ,
        52.7821    ,  52.9032    ,  52.9083    ,  52.9218    ,
        52.9872    ,  52.9882    ,  53.0315    ,  53.04      ,
        53.056     ,  53.1349    ,  53.16      ,  53.2792    ,
        53.2857    ,  53.3479    ,  53.4536    ,  53.5509    ,
        53.5767    ,  53.6582    ,  53.726     ,  53.8901    ,
        53.9332    ,  53.9468    ,  54.1018    ,  54.1212    ,
        54.1556    ,  54.1983    ,  54.3684    ,  54.4139    ,
        54.4237    ,  54.4368    ,  54.4414    ,  54.4946    ,
        54.6218    ,  54.6247    ,  54.6348    ,  54.6715    ,
        54.7066    ,  54.7666    ,  54.9343    ,  55.053     ,
        55.1892    ,  55.3348    ,  55.3432    ,  55.3948    ,
        55.5074    ,  55.7198    ,  55.7598    ,  55.8212    ,
        55.86      ,  55.9143    ,  56.0596    ,  56.2678    ,
        56.3456    ,  56.3682    ,  56.6149    ,  56.6394    ,
        56.6885    ,  56.716     ,  56.7461    ,  57.0482    ,
        57.0497    ,  57.0755    ,  57.0766    ,  57.1264    ,
        57.153     ,  57.28      ,  57.3952    ,  57.4261    ,
        57.5336    ,  57.5512    ,  57.7533    ,  57.791     ,
        57.915     ,  57.9476    ,  58.0149    ,  58.0861    ,
        58.2448    ,  58.257     ,  58.5727    ,  58.5929    ,
        58.6555    ,  58.6618    ,  58.6974    ,  58.7766    ,
        58.8121    ,  58.825     ,  58.9584    ,  58.9648    ,
        58.9867    ,  59.0718    ,  59.0736    ,  59.1773    ,
        59.181     ,  59.2055    ,  59.3324    ,  59.475     ,
        59.6075    ,  59.683     ,  59.7113    ,  59.7421    ,
        59.7613    ,  59.828     ,  59.8622    ,  59.8754    ,
        59.886     ,  59.9287    ,  59.9604    ,  60.0264    ,
        60.0471    ,  60.077     ,  60.2028    ,  60.315     ,
        60.3264    ,  60.3866    ,  60.7045    ,  60.7394    ,
        60.926     ,  60.9462    ,  61.094     ,  61.1936    ,
        61.209     ,  61.2287    ,  61.2568    ,  61.4595    ,
        61.5494    ,  61.5552    ,  61.871     ,  61.8883    ,
        61.8896    ,  61.9923    ,  62.0444    ,  62.0624    ,
        62.1095    ,  62.1295    ,  62.2353    ,  62.4379    ,
        62.4923    ,  62.6572    ,  62.6715    ,  62.7544    ,
        62.7785    ,  62.7959    ,  62.7976    ,  62.8       ,
        62.8678    ,  62.8904    ,  62.895     ,  62.9006    ,
        62.982     ,  63.0548    ,  63.0611    ,  63.1719    ,
        63.3579    ,  63.4323    ,  63.5224    ,  63.5611    ,
        63.615     ,  63.7777    ,  63.866     ,  63.93      ,
        63.9534    ,  64.0553    ,  64.0787    ,  64.2861    ,
        64.5434    ,  64.7223    ,  64.7316    ,  64.7324    ,
        64.7971    ,  64.8642    ,  64.9824    ,  65.0136    ,
        65.084     ,  65.1668    ,  65.195     ,  65.2064    ,
        65.232     ,  65.587     ,  65.6944    ,  65.9299    ,
        65.9479    ,  65.9698    ,  66.039     ,  66.1016    ,
        66.1224    ,  66.1816    ,  66.2817    ,  66.5363    ,
        66.566     ,  66.581     ,  66.6318    ,  66.8568    ,
        66.9071    ,  66.9097    ,  67.2293    ,  67.2451    ,
        67.3902    ,  67.736     ,  68.2181    ,  68.3748    ,
        68.4308    ,  68.4404    ,  68.5285    ,  68.6348    ,
        68.6544    ,  68.9135    ,  68.9296    ,  68.9614    ,
        69.0049    ,  69.1938    ,  69.1972    ,  69.336     ,
        69.4707    ,  69.5281    ,  69.6268    ,  69.6575    ,
        69.7245    ,  69.749     ,  69.9148    ,  69.9316    ,
        69.9337    ,  69.9494    ,  69.9955    ,  70.2411    ,
        70.2933    ,  70.5144    ,  70.5816    ,  70.6464    ,
        70.7341    ,  70.745     ,  70.8329    ,  71.095     ,
        71.2142    ,  71.3962    ,  71.4247    ,  71.5568    ,
        71.6404    ,  71.7971    ,  72.1308    ,  72.1607    ,
        72.2196    ,  72.2695    ,  72.356     ,  72.553     ,
        72.6627    ,  72.8562    ,  72.8683    ,  72.9137    ,
        72.9188    ,  72.969     ,  73.0708    ,  73.0726    ,
        73.215     ,  73.2164    ,  73.3549    ,  73.3691    ,
        73.4155    ,  73.5544    ,  73.5818    ,  73.587     ,
        73.8635    ,  74.2598    ,  74.5744    ,  74.5843    ,
        74.5998    ,  74.8463    ,  75.0365    ,  75.2204    ,
        75.2729    ,  75.4875    ,  75.5657    ,  75.7144    ,
        75.927     ,  76.1018    ,  76.2085    ,  76.2217    ,
        76.4286    ,  76.4647    ,  76.4865    ,  76.5803    ,
        76.6192    ,  76.737     ,  76.9996    ,  77.0499    ,
        77.189     ,  77.4039    ,  77.4795    ,  77.5496    ,
        77.5684    ,  77.8741    ,  78.188     ,  78.1988    ,
        78.5578    ,  78.6478    ,  78.715     ,  78.744     ,
        78.7809    ,  78.8508    ,  78.9521    ,  79.2381    ,
        79.246     ,  79.6245    ,  79.637     ,  79.7004    ,
        79.7146    ,  79.833     ,  80.181     ,  80.7576    ,
        80.7619    ,  80.7792    ,  80.8112    ,  81.3986    ,
        81.572     ,  81.8518    ,  81.9816    ,  82.0828    ,
        82.3678    ,  82.442     ,  83.375     ,  83.6299    ,
        83.694     ,  83.6965    ,  83.7848    ,  84.1558    ,
        84.2323    ,  84.3528    ,  84.4676    ,  84.7232    ,
        84.873     ,  85.4652    ,  85.5747    ,  85.6182    ,
        85.884     ,  86.1412    ,  86.2272    ,  86.3292    ,
        86.3545    ,  86.5536    ,  86.8977    ,  87.2987    ,
        87.5241    ,  87.6076    ,  87.6519    ,  87.7201    ,
        87.8962    ,  88.1071    ,  88.1328    ,  88.1462    ,
        88.6814    ,  88.8816    ,  88.9502    ,  89.0764    ,
        89.472     ,  90.4747    ,  90.5124    ,  90.7801    ,
        90.8983    ,  91.2296    ,  91.8308    ,  92.6832    ,
        92.8432    ,  93.1014    ,  93.5096    ,  94.105     ,
        94.2463    ,  94.3478    ,  94.5643    ,  94.6379    ,
        95.1969    ,  95.2278    ,  95.9602    ,  96.2845    ,
        96.3487    ,  96.546     ,  96.7288    ,  96.939     ,
        97.1094    ,  97.2125    ,  97.4848    ,  97.5766    ,
        97.7525    ,  97.7908    ,  98.3796    ,  98.6948    ,
        99.0039    ,  99.5104    ,  99.8038    ,  99.8989    ,
       100.2662    , 100.305     , 100.5938    , 101.0292    ,
       101.1216    , 101.2576    , 101.5506    , 101.6666    ,
       101.8744    , 101.9914    , 102.3316    , 102.4302    ,
       102.7246    , 102.8806    , 102.885     , 104.1555    ,
       104.1764    , 104.2421    , 105.144     , 105.9418    ,
       106.0042    , 106.2963    , 107.7025    , 108.2325    ,
       108.9734    , 109.4304    , 109.4796    , 109.8965    ,
       110.2544    , 114.9417    , 116.4206    , 117.7468    ,
       118.0321    , 122.418     , 123.928     , 124.2416    ,
       128.6549    , 129.5356    , 138.6425    , 201.86950919,
       206.50865197, 206.6995697 , 224.91466286, 233.00828521,
       239.17140733, 247.5983179 , 248.29520891, 274.5350868 ,
       276.84059674, 280.87730155, 283.64520059, 296.08869731,
       320.95866358, 322.72599609, 325.09894981, 327.21766546,
       328.87176914, 329.91300394, 332.04368868,          nan])

# Time_of_Day
- kanske ändra till strings
- 50 nulls

In [36]:
df["Time_of_Day"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Time_of_Day
Non-Null Count  Dtype
--------------  -----
950 non-null    object
dtypes: object(1)
memory usage: 7.9+ KB

In [48]:
df["Time_of_Day"].unique()
df["Time_of_Day"].isna().sum()

np.int64(50)

# Day_of_Week
- kanske ändra till strings
- 50 nulls

In [49]:
df["Day_of_Week"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Day_of_Week
Non-Null Count  Dtype
--------------  -----
950 non-null    object
dtypes: object(1)
memory usage: 7.9+ KB

In [51]:
df["Day_of_Week"].unique()
df["Day_of_Week"].isna().sum()

np.int64(50)

# Passenger_Count
- 50 nulls
- allt annat ser bra ut, inget orimligt

In [52]:
df["Passenger_Count"].describe()

count    950.000000
mean       2.476842
std        1.102249
min        1.000000
25%        1.250000
50%        2.000000
75%        3.000000
max        4.000000
Name: Passenger_Count, dtype: float64

In [55]:
df["Passenger_Count"].info()
df["Passenger_Count"].unique()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Passenger_Count
Non-Null Count  Dtype
--------------  -----
950 non-null    float64
dtypes: float64(1)
memory usage: 7.9 KB

array([ 3.,  1.,  4.,  2., nan])

In [57]:
df["Passenger_Count"].isna().sum()

np.int64(50)

# Traffic_Conditions
- 50 nulls

In [58]:
df["Traffic_Conditions"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Traffic_Conditions
Non-Null Count  Dtype
--------------  -----
950 non-null    object
dtypes: object(1)
memory usage: 7.9+ KB

In [63]:
df["Traffic_Conditions"].unique()
df["Traffic_Conditions"].isna().sum()

np.int64(50)

# Trip_Distance_km
- 50 nulls

In [64]:
df["Trip_Distance_km"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Trip_Distance_km
Non-Null Count  Dtype
--------------  -----
950 non-null    float64
dtypes: float64(1)
memory usage: 7.9 KB

In [66]:
df["Trip_Distance_km"].describe()

count    950.000000
mean      27.070547
std       19.905300
min        1.230000
25%       12.632500
50%       25.830000
75%       38.405000
max      146.067047
Name: Trip_Distance_km, dtype: float64

In [67]:
df["Trip_Distance_km"].sort_values().unique()

array([  1.23      ,   1.25      ,   1.27      ,   1.34      ,
         1.45      ,   1.53      ,   1.54      ,   1.56      ,
         1.64      ,   1.71      ,   1.76      ,   1.81      ,
         1.89      ,   1.9       ,   1.97      ,   1.98      ,
         2.1       ,   2.14      ,   2.19      ,   2.24      ,
         2.25      ,   2.29      ,   2.3       ,   2.33      ,
         2.41      ,   2.49      ,   2.53      ,   2.54      ,
         2.64      ,   2.69      ,   2.76      ,   2.79      ,
         2.8       ,   2.81      ,   2.83      ,   2.93      ,
         3.        ,   3.11      ,   3.22      ,   3.23      ,
         3.25      ,   3.28      ,   3.3       ,   3.52      ,
         3.53      ,   3.54      ,   3.68      ,   3.76      ,
         3.85      ,   4.11      ,   4.19      ,   4.22      ,
         4.26      ,   4.29      ,   4.4       ,   4.46      ,
         4.49      ,   4.57      ,   4.63      ,   4.65      ,
         4.68      ,   4.72      ,   4.77      ,   4.81      ,
         4.84      ,   4.93      ,   5.01      ,   5.06      ,
         5.09      ,   5.12      ,   5.16      ,   5.18      ,
         5.19      ,   5.26      ,   5.34      ,   5.35      ,
         5.42      ,   5.47      ,   5.49      ,   5.56      ,
         5.59      ,   5.61      ,   5.63      ,   5.76      ,
         5.79      ,   5.87      ,   5.94      ,   5.96      ,
         5.97      ,   5.99      ,   6.05      ,   6.1       ,
         6.22      ,   6.25      ,   6.29      ,   6.39      ,
         6.45      ,   6.49      ,   6.55      ,   6.56      ,
         6.63      ,   6.68      ,   6.69      ,   6.73      ,
         6.74      ,   6.76      ,   6.77      ,   6.79      ,
         6.82      ,   6.86      ,   6.87      ,   6.91      ,
         6.98      ,   7.09      ,   7.11      ,   7.23      ,
         7.25      ,   7.32      ,   7.33      ,   7.57      ,
         7.59      ,   7.68      ,   7.7       ,   7.71      ,
         7.74      ,   7.8       ,   7.82      ,   7.83      ,
         7.84      ,   7.85      ,   7.86      ,   7.87      ,
         7.9       ,   7.91      ,   8.01      ,   8.1       ,
         8.21      ,   8.28      ,   8.35      ,   8.37      ,
         8.43      ,   8.44      ,   8.47      ,   8.49      ,
         8.51      ,   8.56      ,   8.61      ,   8.64      ,
         8.65      ,   8.67      ,   8.87      ,   8.88      ,
         8.92      ,   8.97      ,   8.98      ,   9.02      ,
         9.05      ,   9.15      ,   9.28      ,   9.31      ,
         9.36      ,   9.37      ,   9.41      ,   9.44      ,
         9.49      ,   9.5       ,   9.54      ,   9.59      ,
         9.64      ,   9.67      ,   9.68      ,   9.69      ,
         9.72      ,   9.75      ,   9.88      ,   9.89      ,
         9.9       ,   9.91      ,   9.99      ,  10.04      ,
        10.06      ,  10.14      ,  10.17      ,  10.22      ,
        10.34      ,  10.42      ,  10.59      ,  10.6       ,
        10.74      ,  10.78      ,  10.88      ,  11.04      ,
        11.05      ,  11.11      ,  11.19      ,  11.26      ,
        11.29      ,  11.36      ,  11.4       ,  11.44      ,
        11.53      ,  11.58      ,  11.88      ,  11.96      ,
        11.99      ,  12.1       ,  12.17      ,  12.2       ,
        12.23      ,  12.32      ,  12.38      ,  12.62      ,
        12.63      ,  12.64      ,  12.67      ,  12.74      ,
        12.77      ,  12.85      ,  12.86      ,  12.88      ,
        12.92      ,  13.02      ,  13.05      ,  13.07      ,
        13.12      ,  13.14      ,  13.18      ,  13.22      ,
        13.26      ,  13.34      ,  13.37      ,  13.48      ,
        13.64      ,  13.65      ,  13.68      ,  13.71      ,
        13.85      ,  13.99      ,  14.14      ,  14.17      ,
        14.19      ,  14.27      ,  14.3       ,  14.34      ,
        14.4       ,  14.43      ,  14.57      ,  14.59      ,
        14.65      ,  14.72      ,  14.76      ,  14.77      ,
        14.81      ,  14.82      ,  14.91      ,  14.96      ,
        14.97      ,  15.        ,  15.04      ,  15.14      ,
        15.15      ,  15.27      ,  15.36      ,  15.37      ,
        15.43      ,  15.56      ,  15.74      ,  15.77      ,
        15.91      ,  15.93      ,  16.17      ,  16.27      ,
        16.4       ,  16.53      ,  16.58      ,  16.63      ,
        16.8       ,  16.82      ,  16.84      ,  16.86      ,
        16.93      ,  16.94      ,  17.05      ,  17.11      ,
        17.21      ,  17.38      ,  17.41      ,  17.42      ,
        17.49      ,  17.54      ,  17.56      ,  17.61      ,
        17.7       ,  17.71      ,  17.75      ,  17.76      ,
        17.94      ,  17.97      ,  18.        ,  18.06      ,
        18.09      ,  18.11      ,  18.18      ,  18.31      ,
        18.43      ,  18.44      ,  18.45      ,  18.48      ,
        18.55      ,  18.56      ,  18.65      ,  18.69      ,
        18.76      ,  18.79      ,  18.82      ,  18.85      ,
        18.95      ,  19.02      ,  19.08      ,  19.14      ,
        19.15      ,  19.16      ,  19.23      ,  19.29      ,
        19.34      ,  19.35      ,  19.36      ,  19.37      ,
        19.44      ,  19.45      ,  19.47      ,  19.49      ,
        19.6       ,  19.66      ,  19.77      ,  19.81      ,
        19.87      ,  19.92      ,  19.95      ,  20.02      ,
        20.05      ,  20.07      ,  20.08      ,  20.22      ,
        20.23      ,  20.26      ,  20.43      ,  20.46      ,
        20.47      ,  20.49      ,  20.51      ,  20.55      ,
        20.64      ,  20.77      ,  21.03      ,  21.04      ,
        21.06      ,  21.11      ,  21.18      ,  21.22      ,
        21.33      ,  21.45      ,  21.49      ,  21.52      ,
        21.56      ,  21.65      ,  21.78      ,  21.79      ,
        21.84      ,  21.85      ,  21.93      ,  21.95      ,
        21.98      ,  22.02      ,  22.15      ,  22.17      ,
        22.26      ,  22.31      ,  22.37      ,  22.44      ,
        22.51      ,  22.52      ,  22.57      ,  22.6       ,
        22.63      ,  22.85      ,  22.92      ,  22.97      ,
        23.08      ,  23.09      ,  23.16      ,  23.17      ,
        23.21      ,  23.27      ,  23.33      ,  23.35      ,
        23.45      ,  23.5       ,  23.58      ,  23.64      ,
        23.66      ,  23.67      ,  23.72      ,  23.81      ,
        23.96      ,  23.97      ,  24.11      ,  24.13      ,
        24.14      ,  24.2       ,  24.22      ,  24.33      ,
        24.58      ,  24.74      ,  24.88      ,  24.98      ,
        25.09      ,  25.11      ,  25.13      ,  25.14      ,
        25.23      ,  25.26      ,  25.28      ,  25.32      ,
        25.42      ,  25.57      ,  25.61      ,  25.63      ,
        25.65      ,  25.67      ,  25.76      ,  25.79      ,
        25.87      ,  25.92      ,  26.03      ,  26.06      ,
        26.07      ,  26.09      ,  26.19      ,  26.3       ,
        26.4       ,  26.42      ,  26.43      ,  26.48      ,
        26.49      ,  26.5       ,  26.59      ,  26.61      ,
        26.63      ,  26.7       ,  26.71      ,  26.76      ,
        26.86      ,  26.95      ,  27.04      ,  27.07      ,
        27.1       ,  27.14      ,  27.25      ,  27.27      ,
        27.32      ,  27.33      ,  27.43      ,  27.54      ,
        27.59      ,  27.74      ,  27.79      ,  27.89      ,
        27.91      ,  27.93      ,  28.04      ,  28.05      ,
        28.14      ,  28.15      ,  28.16      ,  28.2       ,
        28.22      ,  28.28      ,  28.36      ,  28.42      ,
        28.49      ,  28.5       ,  28.68      ,  28.75      ,
        28.85      ,  28.92      ,  28.93      ,  28.97      ,
        29.01      ,  29.1       ,  29.15      ,  29.2       ,
        29.24      ,  29.27      ,  29.34      ,  29.45      ,
        29.48      ,  29.57      ,  29.59      ,  29.6       ,
        29.63      ,  29.73      ,  29.76      ,  29.91      ,
        29.92      ,  29.95      ,  29.97      ,  30.03      ,
        30.09      ,  30.11      ,  30.16      ,  30.17      ,
        30.19      ,  30.25      ,  30.27      ,  30.3       ,
        30.33      ,  30.43      ,  30.45      ,  30.68      ,
        30.7       ,  30.72      ,  30.73      ,  30.77      ,
        30.87      ,  30.92      ,  30.96      ,  30.98      ,
        31.06      ,  31.14      ,  31.18      ,  31.29      ,
        31.38      ,  31.39      ,  31.4       ,  31.48      ,
        31.52      ,  31.54      ,  31.58      ,  31.59      ,
        31.67      ,  31.75      ,  31.76      ,  31.77      ,
        31.82      ,  31.84      ,  31.93      ,  31.96      ,
        31.98      ,  32.02      ,  32.04      ,  32.12      ,
        32.18      ,  32.23      ,  32.4       ,  32.42      ,
        32.46      ,  32.48      ,  32.52      ,  32.61      ,
        32.63      ,  32.65      ,  32.81      ,  32.83      ,
        32.85      ,  32.92      ,  32.95      ,  32.98      ,
        33.22      ,  33.28      ,  33.29      ,  33.34      ,
        33.35      ,  33.46      ,  33.51      ,  33.59      ,
        33.71      ,  33.74      ,  33.76      ,  33.91      ,
        33.92      ,  33.93      ,  33.95      ,  34.2       ,
        34.39      ,  34.47      ,  34.53      ,  34.55      ,
        34.73      ,  34.83      ,  34.86      ,  34.9       ,
        35.        ,  35.04      ,  35.1       ,  35.11      ,
        35.14      ,  35.15      ,  35.21      ,  35.35      ,
        35.4       ,  35.48      ,  35.5       ,  35.64      ,
        35.65      ,  35.7       ,  35.9       ,  35.95      ,
        36.02      ,  36.08      ,  36.23      ,  36.28      ,
        36.39      ,  36.4       ,  36.56      ,  36.58      ,
        36.68      ,  36.72      ,  36.75      ,  36.81      ,
        36.87      ,  36.9       ,  37.02      ,  37.09      ,
        37.14      ,  37.16      ,  37.3       ,  37.31      ,
        37.45      ,  37.53      ,  37.56      ,  37.58      ,
        37.63      ,  37.66      ,  37.75      ,  37.78      ,
        37.79      ,  37.87      ,  37.92      ,  37.97      ,
        38.        ,  38.02      ,  38.13      ,  38.25      ,
        38.28      ,  38.31      ,  38.32      ,  38.36      ,
        38.42      ,  38.68      ,  38.71      ,  38.73      ,
        38.77      ,  38.78      ,  38.79      ,  38.84      ,
        38.98      ,  39.        ,  39.04      ,  39.08      ,
        39.21      ,  39.4       ,  39.47      ,  39.64      ,
        39.67      ,  39.69      ,  39.79      ,  39.91      ,
        39.95      ,  39.96      ,  39.97      ,  39.99      ,
        40.12      ,  40.17      ,  40.19      ,  40.2       ,
        40.31      ,  40.34      ,  40.37      ,  40.38      ,
        40.5       ,  40.53      ,  40.56      ,  40.6       ,
        40.61      ,  40.66      ,  40.68      ,  40.7       ,
        40.72      ,  40.83      ,  40.88      ,  40.91      ,
        40.96      ,  41.01      ,  41.04      ,  41.05      ,
        41.08      ,  41.14      ,  41.24      ,  41.27      ,
        41.3       ,  41.31      ,  41.5       ,  41.61      ,
        41.68      ,  41.7       ,  41.79      ,  41.91      ,
        41.93      ,  41.96      ,  42.08      ,  42.11      ,
        42.26      ,  42.4       ,  42.48      ,  42.61      ,
        42.63      ,  42.71      ,  42.76      ,  42.8       ,
        42.92      ,  42.93      ,  42.97      ,  43.06      ,
        43.18      ,  43.23      ,  43.26      ,  43.29      ,
        43.37      ,  43.41      ,  43.44      ,  43.49      ,
        43.55      ,  43.56      ,  43.62      ,  43.7       ,
        43.73      ,  43.81      ,  43.82      ,  43.96      ,
        43.98      ,  43.99      ,  44.        ,  44.47      ,
        44.5       ,  44.61      ,  44.62      ,  44.64      ,
        44.67      ,  44.71      ,  44.74      ,  44.8       ,
        44.83      ,  44.85      ,  44.87      ,  44.88      ,
        44.91      ,  44.92      ,  44.94      ,  45.        ,
        45.03      ,  45.08      ,  45.1       ,  45.12      ,
        45.16      ,  45.3       ,  45.36      ,  45.41      ,
        45.42      ,  45.47      ,  45.51      ,  45.56      ,
        45.64      ,  45.75      ,  45.8       ,  45.81      ,
        45.83      ,  45.95      ,  46.07      ,  46.12      ,
        46.17      ,  46.2       ,  46.31      ,  46.35      ,
        46.4       ,  46.49      ,  46.54      ,  46.55      ,
        46.56      ,  46.61      ,  46.7       ,  46.78      ,
        46.87      ,  46.9       ,  46.98      ,  47.04      ,
        47.05      ,  47.07      ,  47.08      ,  47.13      ,
        47.29      ,  47.36      ,  47.42      ,  47.47      ,
        47.5       ,  47.53      ,  47.54      ,  47.55      ,
        47.56      ,  47.57      ,  47.58      ,  47.59      ,
        47.74      ,  47.75      ,  47.79      ,  48.09      ,
        48.15      ,  48.16      ,  48.17      ,  48.2       ,
        48.22      ,  48.29      ,  48.32      ,  48.37      ,
        48.5       ,  48.51      ,  48.52      ,  48.53      ,
        48.62      ,  48.68      ,  48.75      ,  48.82      ,
        49.02      ,  49.14      ,  49.24      ,  49.26      ,
        49.3       ,  49.32      ,  49.34      ,  49.35      ,
        49.36      ,  49.38      ,  49.51      ,  49.53      ,
        49.66      ,  49.85      ,  49.99      , 100.38042001,
       101.03970354, 102.74755621, 104.37179089, 105.94355004,
       107.78683196, 108.14699381, 109.61608205, 112.83095829,
       116.19606362, 116.66768073, 122.82019098, 126.5476283 ,
       130.80900131, 138.09832791, 138.76388715, 139.06223019,
       139.47651458, 145.74705995, 146.06704716,          nan])